.feed{
    flex: 5.5;
    height: calc(100vh - 60px);
    /* background-color: blanchedalmond; */
    /* overflow-y: scroll; */
}

/* .feed ::-webkit-scrollbar{
    scrollbar-width: 1px !important;
}
.feed  ::-webkit-scrollbar-track{
    background-color: #fff !important;
}
.feed  ::-webkit-scrollbar-thumb{
    background-color: #fff !important;
} */


.feedWrapper{
    padding: 20px;
}